<template>
  <div>
    <br>
    <div>
      <button @click="toggleConnection.buttonFunction">{{ toggleConnection.buttonText }}</button>
      <p>{{ toggleConnection.accountInfo }}</p>
    </div>
    <br>
    <div>
      <button @click="createContract" v-show="!this.wethContract">Create WETH</button>
      <p v-show="this.wethContract">{{ getContractStatus }}</p>
    </div>
    <br>
    <div class="getInfoSection" v-if="this.wethContract">
      <div>
        <button @click="getContractName">Get name</button>
        <p>{{ this.wethContractName }}</p>
      </div>

      <div>
        <button @click="getContractSymbol">Get symbol</button>
        <p>{{ this.wethContractSymbol }}</p>
      </div>

      <div>
        <button @click="getContractBalance">Get balance</button>
        <p>{{ this.wethContractBalance }}</p>
      </div>
    </div>
    <p v-else></p>
    <br>

  </div>
</template>

<script>
import { markRaw } from "vue";
import { ethers } from "ethers";

import abiWETH from '@/abi/abi_WETH.json'


export default {
  data() {
    return {
      provider: null,
      signer: null,
      account: null,

      wethContract: null,
      wethContractName: null,
      wethContractSymbol: null,
      wethContractBalance: null
    };
  },

  computed: {
    getContractStatus() {
      return this.wethContract ? 'Contract has been created' : 'Create contract'
    },

    toggleConnection() {
      const buttonText = (this.signer && this.account) ? 'Disconnect' : 'Connect'
      const buttonFunction = this.signer ? this.disconnectMetamask : this.connectMetamask
      const accountInfo = this.account ? `Your account adress: \n ${this.account}` : 'Connect wallet'
      const connectionInfo = {
        buttonText: buttonText,
        buttonFunction: buttonFunction,
        accountInfo: accountInfo
      }
      return connectionInfo
    }
  },
  methods: {
    async connectMetamask() {
      this.provider = markRaw(new ethers.providers.Web3Provider(
        window.ethereum,
        "any"
      ))

      await this.provider.send("eth_requestAccounts", []);

      this.signer = this.provider.getSigner();
      this.account = await this.signer.getAddress();

      console.log('provider ', this.provider)
      console.log('signer', this.signer)
      console.log('account', this.account)

    },
    disconnectMetamask() {
      this.signer = null
      this.account = null
      this.wethContract = null
    },
    async createContract() {
      if (this.signer) {
        this.wethContract = await markRaw(new ethers.Contract('0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', JSON.stringify(abiWETH), this.signer))
        console.log('wethContract', this.wethContract);
      } else {
        console.log('Should be signed to create contract');
      }
    },

    async getContractName() {
      this.wethContractName = await this.wethContract?.name()
    },
    async getContractSymbol() {
      this.wethContractSymbol = await this.wethContract?.symbol()
    },
    async getContractBalance() {
      this.wethContractBalance = await this.wethContract?.balanceOf(this.account)
    },
  },
  mounted() {
    this.connectMetamask();
  }

};
</script>

<style lang="css" scoped>
.getInfoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
</style>